{#  registration/signup.html  #}
{% extends "peliculas/base.html" %}
{% load static rating_filters rating_extras%}
{% block titulo %}Registro{% endblock %}

{% block contenido %}
<h2>Crear cuenta</h2>
  <link rel="stylesheet" href="{% static 'pelis/css/cartelera.css' %}">
<form method="post" class="form-auth">
    {% csrf_token %}
    {{ form.as_p }}           {# UserCreationForm  #}
    <button class="btn">Registrarme</button>
</form>

<p class="alt-link">
    ¿Ya tienes cuenta?
    <a href="{% url 'login' %}">Inicia sesión</a>
</p>
{% endblock %}